@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: italic;
  user-select: none;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  color: #fff;
  background-color: #151515;
}
.bg-body {
  background-color: #151515;
}
.bg-blured {
  background-color: rgba(255, 255, 255, 0.575);
  backdrop-filter: blur(20px);
}
.bg-small-menu {
  background-color: rgba(255, 255, 255, 0.856);
}
a {
  color: inherit;
  text-decoration: none;
}
.box-shadow {
  box-shadow: 1px 1px 15px 10px #000;
}

.vertical-sb::-webkit-scrollbar {
  width: 5px;
}

.vertical-sb::-webkit-scrollbar-track {
  background-color: transparent;
}

.vertical-sb::-webkit-scrollbar-thumb {
  background-color: #151515;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.bg-hero-cool {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.534),
      rgba(0, 0, 0, 0.541),
      rgba(0, 0, 0, 0.527)
    ),
    url(../public/restaurant-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: cool-bg 14s linear infinite;
}

@keyframes cool-bg {
  0% {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.534),
        rgba(0, 0, 0, 0.541),
        rgba(0, 0, 0, 0.527)
      ),
      url(../public/restaurant-1.jpg);
  }
  50% {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.534),
        rgba(0, 0, 0, 0.541),
        rgba(0, 0, 0, 0.527)
      ),
      url(../public/restaurant-2.jpg);
  }
  100% {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.534),
        rgba(0, 0, 0, 0.541),
        rgba(0, 0, 0, 0.527)
      ),
      url(../public/restaurant-3.jpg);
  }
}
